<form [formGroup]="activitiesForm">
  <!-- <ul formArrayName="activities">
    <li>
      <div>
        <span>1</span>
        <span>2</span>
      </div>
    </li>
    <li *ngFor="let item of activities.controls; let i = index">
      <div [formGroupName]="i">
        <mat-form-field class="example-full-width">
          <mat-label>Code</mat-label>
          <input matInput formControlName="code" placeholder="Enter Code" />
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter Name" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Report Module</mat-label>
          <input
            matInput
            formControlName="reportModule"
            placeholder="Enter Report Module"
          />
        </mat-form-field>
        <input type="text" formControlName="code" />
        <input type="text" formControlName="name" />
        <input type="text" formControlName="reportModule" />
        <button mat-button color="warn" (click)="removeNote(i)">Delete</button>
      </div>
    </li>
    <li>
      <div>
        <button (click)="addNote($event)">ADD NOTE</button>
      </div>
    </li>
  </ul>
  <button type="button" (click)="onSubmit()">Submit</button> -->
  <br />
  <!-- <table mat-table [dataSource]="activities1" class="mat-elevation-z8">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>
        &nbsp;&nbsp;&nbsp;Code&nbsp;&nbsp;&nbsp;
      </th>
      <td mat-cell *matCellDef="let element">{{ element.code }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        &nbsp;&nbsp;&nbsp;Name&nbsp;&nbsp;&nbsp;
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="reportModule">
      <th mat-header-cell *matHeaderCellDef>
        &nbsp;&nbsp;&nbsp;Report Module&nbsp;&nbsp;&nbsp;
      </th>
      <td mat-cell *matCellDef="let element">{{ element.reportModule }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['code', 'name', 'reportModule']"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['code', 'name', 'reportModule']"
    ></tr>
  </table> -->
  <br />
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Abstract Report</mat-card-title>
      <!-- <mat-card-subtitle>Abstract Subtitle</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <ul formArrayName="activities">
        <li *ngFor="let item of activities.controls; let i = index">
          <div [formGroupName]="i">
            <mat-form-field class="example-full-width">
              <mat-label>Code</mat-label>
              <input matInput formControlName="code" placeholder="Enter Code" />
              <!-- <mat-error
                *ngIf="
                  emailFormControl.hasError('email') &&
                  !emailFormControl.hasError('required')
                "
              >
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error> -->
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" placeholder="Enter Name" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Report Module</mat-label>
              <input
                matInput
                formControlName="reportModule"
                placeholder="Enter Report Module"
              />
            </mat-form-field>
            <!-- <button mat-button color="warn" (click)="removeNote(i)">
              Delete
            </button> -->
            <button
              class="delete"
              mat-mini-fab
              color="warn"
              (click)="removeNote(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </li>
        <li>
          <div>
            <!-- <button (click)="addNote($event)">ADD NOTE</button> -->
            <button mat-mini-fab color="primary" (click)="addNote($event)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button class="submit" mat-button (click)="onSubmit()">SUBMIT</button>
    </mat-card-actions>
  </mat-card>
</form>

<!-- <table mat-table [dataSource]="activities1" class="mat-elevation-z0">
        <table mat-table class="mat-elevation-z0" formArrayName="activities">
          <tr mat-header-row>
            <th mat-header-cell>&nbsp;&nbsp;&nbsp;Code&nbsp;&nbsp;&nbsp;</th>
            <td mat-cell>{{ element.code }}</td>
            <th mat-header-cell>&nbsp;&nbsp;&nbsp;Name&nbsp;&nbsp;&nbsp;</th>
            <td mat-cell>{{ element.name }}</td>
            <th mat-header-cell>
              &nbsp;&nbsp;&nbsp;Report Module&nbsp;&nbsp;&nbsp;
            </th>
            <td mat-cell>{{ element.reportModule }}</td>
          </tr>
          <tr
            mat-row
            *ngFor="let item of activities.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-form-field class="example-full-width">
              <mat-label>Code</mat-label>
              <input matInput formControlName="code" placeholder="Enter Code" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" placeholder="Enter Name" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Report Module</mat-label>
              <input
                matInput
                formControlName="reportModule"
                placeholder="Enter Report Module"
              />
            </mat-form-field>
            <button mat-button color="warn" (click)="removeNote(i)">
              Delete
            </button>
          </tr>
          <tr mat-row>
            test
          </tr>
        </table> -->
