@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body {
  margin: 0;
  padding: 50px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eee;
}
